* {
  margin: 0;
}

:root {
  --text-color: #04110d;
  --background-color: #f3fcfa;
  --primary-color: #e58fa6;
  --secondary-color: #efc9bd;
  --accent-color: #b62b95;
  --success-color: #00ff00;
  --warning-color: #ffff00;
  --danger-color: #ff0000;
}

body {
  background-color: var(--background-color);
}

nav {
  margin-bottom: 3rem;
}

.nav__heading {
  background: var(--primary-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.nav__heading h1 {
  font-weight: 500;
  font-size: 2rem;
}

.rooms__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.card__room {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: #04110d solid 1px;
  margin-right: 2rem;
  margin-left: 2rem;
}

.room__barContainer {
  grid-column: 2/3;
  grid-row: 1/2;
}

.room__cleanBar {
  padding: 0.1rem;
  position: absolute;
  width: 10rem;
  border-radius: 5px;
  background-color: var(--success-color);
}

.room__fillBar {
  margin-top: 1px;
  margin-left: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  position: absolute;
  background: var(--warning-color);
  border-radius: 5px;
}

.room__tasks {
  grid-column: 1/2;
}

.room__cleanTip {
  grid-column: 2/3;
  grid-row: 2/3;
}

.newRoom__button-container {
  display: flex;
  justify-content: end;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.newRoom__button {
  background-color: var(--accent-color);
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 2.5rem;
  height: 3rem;
  width: 3rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
